{% extends "index.html" %}

{% block content %}
    <!--flash-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h3>
        Add new post
    </h3>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="title">Post Title</label>
            {{ form.title(class_="form-control") }}
        </div>
            <label for="body">Post Content</label>
        {{ form.body(class_="form-control", cols="100", rows="20", id="summernote") }}
        <div class="form-group">
        </div>
        <div class="form-group">
            <label for="post_img">Image url</label>
            {{ form.post_img(class_="form-control") }}
        </div>
        <div class="form-check">
            {{ form.is_published(class_="form-check-input") }}
            <label class="form-check-label" for="is_published">Fire my post to the moon!!</label>
        </div>
        <button type="submit" class="btn btn-primary mt-5">Save</button>
    </form>

{% endblock %}