{% extends "index.html" %}

{% block head %} {% endblock %}

{% block content %}

    <!--flash-->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% for post in all_posts %}

        <div>
            <div>
                <h2 class="d-inline-block">{{ post.title }}</h2>
                {% if session.logged_in %}
                    <a href="{{ url_for('edit_entry', entry_id=post.id) }}">
                        <svg class="bi bi-pencil float-right" width="1em" height="1em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                            <path fill-rule="evenodd"
                                  d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                        </svg>
                    </a>
                {% else %}

                {% endif %}
            </div>
            <p>{{ post.pub_date.strftime('%Y-%m-%d') }} </p>
            <p>
                {{ post.body | safe }}
            </p>
          <img alt="Qries" src="{{ post.post_img }}", width="1075">
        <hr>
        </div>
    {% endfor %}
{% endblock %}